@media (max-width: 767px){
    .toprow-1 {
        display: block;
    }
    header .top-panel {
        margin-top:50px;
    }
    .top-buttons a i {
        font-size: 25px;
        line-height: 32px;
        margin-right: 8px;
    }

    /*********************** CART *********************/
    header #cart {
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        z-index: 91;
        height: 50px;
        border-left: 1px solid #333;
    }
    header #cart .heading i {
        display: block;
        float: left;
        line-height: 50px;
        font-size: 30px;
        margin-right: 10px;
    }
    header #cart .heading {
        text-align: left;
        padding: 0 15px;
        background: #000;
        min-width: 50px;
        line-height: 50px;
        height: auto;
        width: auto;
        vertical-align: top;
        background: none;
    }
    header #cart .heading a,
    header #cart:hover .heading a,
    header #cart:hover .heading #cart-total{
        color: #ccc;
    }
    header #cart .heading a:hover{
        color:#fff;
    }
    header #cart .heading #cart-total{
        height: 46px;
        line-height: 46px;
        width: 46px;
        margin-left: 0;
        float: left;
    }
    header #search {
        width: 100%;
    }
    header #search input {
        max-width: 70%;
        width: 70%;
    }
    header #search button {
        float: right;
        width: 30%;
    }
    header #logo{
        float: none;
        text-align: center;
        margin-bottom: 0;
    }
    header #logo a {
        display: inline-block;
        max-width: 100%;
    }
    .info-blocks .side-item{
        text-align: center;
    }
    .info-blocks .side-item img{
        max-width: 370px;
    }
    .info-blocks .side-item>div{
        display: inline-block;
    }
    .info-blocks .carousel-caption{
        right: 20%;
    }
    .info-blocks .more {
        right: 10px;
    }
    .info-blocks>div:last-child {
        margin-bottom: 30px;
    }
    .box_html.welcome > span {
        float: none;
        margin-right: 0;
        display: block;
        text-align: center;
    }

    /************************* THUMBINALS ******************/
    .product-thumb{
        text-align: center;
        margin-bottom: 0;
        border: none;
        border-top: 1px dotted #ccc;
    }
    .products-container:first-child .product-thumb{
        margin-top: 0;
        border-top: none;
        padding-top: 0;
    }
    .product-thumb .btn.btn-add {
        display: inline-block;
        float: none;
    }
    .product-thumb .cart-button{
        text-align: center;
    }
    .product-thumb .name{
        text-align: center;
    }
    .product-thumb .name a {
        background: none;
        height: auto;
        padding: 0;
        width: auto;
    }
    .product-thumb .name a:hover {
        color: #f97001;
        background: none;
    }
    .product-thumb .image{
        display: inline-block;
    }
    .product-thumb .image .img-wrap {
        border: 1px solid #dfdede;
        overflow: hidden;
    }
    .product-thumb .image{
        position: static;
    }
    .product-thumb .image img{
        max-width: 268px;
        max-height: 268px;
    }
    .product-thumb .image a {
        position: relative;
    }
    /******************** FOOTER *******************/
    footer{
        padding-top: 0;
        text-align: center;
    }
    footer > .container {
        display: none;
        padding-top: 0;
    }
    footer .copyright {
        margin-top: 0px;
        padding: 20px 0;
    }

    /******************** CATEGORY ******************/
    .box-subcat li.col-sm-3 {
        width: 25%;
        float:left;
        height:166px;
    }
    .product-filter .view-type-container{
        display: none;
    }
    .product-thumb .btn-icon.wishlist,
    .product-thumb .btn-icon.compare {
        float: none;
    }
    /******************* PRODUCT GRID ****************/
    .product-grid:first-child .product-thumb {
        border: none;
    }
    .product-grid .product-thumb .description_list,
    .product-grid .product-thumb .description{
        display: block;
    }
    /****************** PRODUCT LIST *******************/
    .product-list .product-thumb .image{
        border:none;
    }
    .product-list .product-thumb .image .img-wrap{
        margin: 0;
        height: 153px;
    }
    .product-list .product-thumb .image img{
        width: 100%;
    }
    .product-list .product-thumb .name,
    .product-list .product-thumb .cart-button{
        text-align: left;
    }

    .category-info .img-thumbnail{
        max-height: 268px;
        max-width: 268px;
    }
    /*********************** PRODUCT CARD **************/
    #default_gallery {
        display: none;
    }
    #full_gallery {
        display: block;
    }
    #full_gallery{
         margin-bottom:15px;
     }
    #full_gallery .bx-wrapper .bx-prev {
        left: -6px;
    }
    #full_gallery .bx-wrapper .bx-next {
        right: -6px;
    }
    .related-products {
        padding: 0 39px;
    }
    .related-products .bx-wrapper {
        width: 224px;
    }
    .related-products .product-thumb .image img{
        max-width: 221px;
        max-height: 221px;
    }

    /**************** ACCOUNT PASSWORD **********************/
    .account-edit #content ,
    .account-newsletter #content ,
    .account-wishlist #content ,
    .account-return #content,
    .account-address #content ,
    .account-account #content ,
    .account-order #content ,
    .account-password #content {
        min-height: auto;
    }

    aside{
        margin-top: 15px;
    }

    #myModal .modal-dialog{
        width: 97%;
    }
}

@media (max-width: 630px){
    header .top-panel .box_html{
        display: none;
    }
}
@media (max-width: 518px) {


    .product-list .product-thumb .caption,
    .product-list .product-thumb .name,
    .product-list .product-thumb .cart-button,
    .product-list .product-thumb .price,
    .product-list .product-thumb .rating{
        text-align:center;
    }
    .product-list .product-thumb .image {
        float:none;
        width:auto;
        max-width:100%;
        display:inline-block;
        margin:0 auto 10px;
    }
    .product-list .product-thumb .cart-button button {
        float:none;
    }
    .product-list .product-thumb .caption {
        width: 100%;
    }
    .product-list .product-thumb .image .img-wrap{
        height: auto;
    }


    .pagination-wrap-cat,
    .compare-wrap-cat{
        float: none !important;
        display: block;
        text-align: center;
    }
    .compare-wrap-cat{
        margin-top: 15px;
    }
    .product_page .product-buttons button span {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {

    #full_gallery {
        display:block;
    }
    #default_gallery {
        display:none;
    }

}