
@media (max-width: 991px) {

    .top-buttons a {
        font-size: 13px;
        line-height: 16px;
        margin-right: 18px;
    }
    header #tm_menu {
        margin-bottom: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

    .btn.details {
        padding: 0;
        width: 51px;
        height: 51px;
        line-height: 51px;
    }
    .btn.details i.fa-chevron-right, .btn.details span {
        display: none;
    }
    .btn.details i.fa-info {
        display: inline-block;
        font-size: 23px;
        line-height: 49px;
        margin: 0;
    }
    .top-buttons a i {
        font-size: 34px;
        line-height: 34px;
    }
    header .register-top a {
        font-size: 15px;
    }
    .info-blocks .side-item .more{
        right: 5px;
    }
    .info-blocks .more {
        right: 15px;
    }
    .info-blocks .side-item .side-item-caption {
        width: 75%;
    }
    .info-blocks .side-item .side-item-caption  h2{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .box_html.welcome p {
        margin-top: 0;
        margin-bottom:0;
        overflow:hidden;
    }
    .box_html.welcome > span {
        font-size: 26px;
        line-height: 26px;
        margin: 0 35px 8px 0;
    }

    /*********************** PRODUCT THUMBNAIL *****************/
    .product-thumb .name a{
        font-size: 13px;
        line-height: 18px;
        padding: 7px 10px 7px 15px;
    }
    .product-thumb .btn.btn-add,
    .product-thumb .cart-button .btn-icon.wishlist {
        margin-right: 5px;
    }
    .product-thumb .cart-button {
        padding: 5px 15px 10px;
    }
    .product-thumb .img-wrap {
        height: 155px;
    }
    .product-thumb .price {
        margin-bottom: 5px;
        height: 45px;
    }
    .product-thumb .price span{
        display: block;
    }

    /******************** FOOTER *******************/
    footer li a {
        font-size: 13px;
        line-height: 16px;
    }
    footer h5 {
        line-height: normal;
        word-wrap: break-word;
        font-size: 12px;
    }
    footer li:before{
        display: none;
    }

    /******************** CATEGORY *********************/
    .box-subcat li {
        height:180px;
    }
    .related-products {
        padding: 0 121px;
    }

    /*********************** CART ********************/
    .checkout-cart  .cart-controls-wrap{
        min-width: 110px;
    }

}
@media (max-width: 1199px) and (min-width: 992px)
{
    .box_html.welcome > span {
        font-size: 33px;
        line-height: 32px;
        margin: 0 40px 10px 0;
    }
    .box_html.welcome p {
         margin-top: 0;
         margin-bottom:0;
         overflow:hidden;
     }

    /********************** PRODUCT THUMB *****************/
    .product-thumb .cart-button {
        padding: 10px;
    }
    .product-thumb .name a {
        padding: 5px 15px 5px 19px;
    }

    .panel.goods-block .panel-heading h3 {
        font-size: 20px;
        line-height: 24px;
    }

    /******************* FOOTER *********************/
    footer h5 {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 10px;
        padding-right: 0;
        word-wrap: break-word;
    }
    footer li a {
        font-size: 15px;
        line-height: 18px;
    }

    /******************** CATEGORY *********************/
    .box-subcat li {
        height:220px;
    }

    /*********************** PRODUCT CARD ****************/
    /*GALLERY*/
    #full_gallery .bx-prev{
        left: -1px;
    }
    #full_gallery .bx-next{
        right: -1px;
    }

    .related-products {
        padding: 0 105px;
    }

}